apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: credit-api-alerts
  namespace: monitoring
  labels:
    release: kps
spec:
  groups:
    - name: credit-api.rules
      rules:
        - alert: CreditApiDown
          expr: max(up{job="credit-api-service"}) == 0
          for: 2m
          labels:
            severity: critical
            service: credit-api
          annotations:
            summary: "Credit API is DOWN"
            description: "All targets for job=credit-api-service are unreachable for more than 2 minutes."
            runbook_url: "https://example.local/runbooks/credit-api-down"
