fullnameOverride: kps

grafana:
  enabled: true
  adminUser: admin
  sidecar:
    dashboards:
      enabled: true
      label: grafana_dashboard
      labelValue: "1"
    datasources:
      enabled: true

prometheus:
  enabled: true
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    ruleSelectorNilUsesHelmValues: false

    serviceMonitorNamespaceSelector: {}
    serviceMonitorSelector: {}

    ruleNamespaceSelector: {}
    ruleSelector: {}

alertmanager:
  enabled: true

kubeStateMetrics:
  enabled: true

nodeExporter:
  enabled: true
