name: Deploy Staging

on:
  workflow_run:
    workflows: ["Build and Test"]
    types:
      - completed

jobs:
  skip:
    runs-on: ubuntu-latest
    steps:
      - name: Skip staging deployment
        run: echo "Staging deployment is skipped."
