name: Monitor

on:
  workflow_run:
    workflows: ["Deploy Production"]
    types:
      - completed

jobs:
  skip:
    runs-on: ubuntu-latest
    steps:
      - name: Skip monitor
        run: echo "Monitor is skipped."
